<div class="container">
    <div class="logo">
        <app-logo />
    </div>
    <div class="text">
        <h2>Intravio: gerenciando seus envios de encomenda com eficiência e segurança</h2>
        <p>Se sua empresa precisa enviar pacotes ou documentos de uma filial para outra com frequência, sabe o quanto
            essa tarefa pode ser desafiadora. É preciso ter um controle rígido sobre o processo para garantir que as
            entregas sejam realizadas com eficiência e segurança.</p>
        <p>Foi pensando nisso que a Intravio desenvolveu uma plataforma de gerenciamento de envio de pacotes de entre
            filiais. Com ela, você tem acesso a uma série de funcionalidades que tornam esse processo mais simples,
            ágil e confiável.</p>
        <br />
        <h2>Principais características da Intravio</h2>
        <ul>
            <li>Cadastro e gestão de filiais: a plataforma permite cadastrar todas as filiais da sua empresa e
                gerenciá-las de forma centralizada, com informações como endereço.</li>
            <li>Controle de envios: com a Intravio, você pode criar e gerenciar envios de forma rápida e fácil, com a
                possibilidade de acompanhar o status de cada entrega.</li>
            <li>Rastreamento de pacotes: a plataforma permite rastrear os pacotes com informações sobre a
                data e horário da saída e chegada em cada filial.</li>
            <li>Comunicação com os envolvidos: a Intravio também permite a comunicação entre os responsáveis pelos
                envios em cada filial, além de fornecer informações para os destinatários sobre a previsão de entrega.
            </li>
        </ul>
        <p>Além disso, a Intravio é uma solução totalmente online, o que permite que você acesse a plataforma de
            qualquer lugar, a qualquer momento, com segurança e facilidade.</p>
        <p>Com a Intravio, você pode ter a tranquilidade de que seus envios de filial para filial serão realizados de
            forma eficiente e segura.</p>
    </div>
</div>