table {
  width: 100%;
}

table td {
  white-space: nowrap;
}

.container {
  width: 90%;
  margin: auto;
}

.mat-paginator-container {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}

.button {
  text-align: right;
}

.edit {
  color: rgb(0, 153, 255);
}

.delete {
  color: red;
}

.visualizar {
  cursor: pointer;
  color: #8c9600;
}

a {
  margin-right: 3px;
}

.cdk-overlay-container {
  overflow-y: hidden !important;

}