<div class="container">
    <div class="card">
        <div class="header">
            <div class="row">
                <div class="w-20 pl-2 d-flex align-items-center color-primary">
                    <i class="material-icons var-color">assignment</i>
                    <label class="card-name">Pedidos</label>
                </div>

                <div class="w-40">
                    <input *ngIf="abrePesquisa" class="custom-date-input" type="date" [value]="minDate"
                        [(ngModel)]="minDate" (ngModelChange)="listarTodosPedidos()" (focus)="isInputFocused = true" (blur)="isInputFocused = false" />
                    <label *ngIf="abrePesquisa" class="ml-2 mr-2">até</label>
                    <input *ngIf="abrePesquisa" class="custom-date-input" type="date" [value]="maxDate"
                        [(ngModel)]="maxDate" (ngModelChange)="listarTodosPedidos()" (focus)="isInputFocused2 = true" (blur)="isInputFocused2 = false" />
                </div>

                <div class="w-40">
                    <input *ngIf="abrePesquisa" class="custom-input" (keyup)="applyFilter($event)"
                        placeholder="Pesquisa pedido, destinatário, destino...">
                </div>

                <div class="w-10">
                    <button mat-mini-fab (click)="abrePesquisa = !abrePesquisa" color="secondary">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button mat-mini-fab routerLink="/pedidos/cadastrar" class="mat-elevation-z8" color="primary">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

            </div>
        </div>

        <div *ngIf="abrePesquisa" class="d-flex justify-content-center mt-3">
            <a href="javascript:void(0)" class="text-primary text-center" (click)="exibeFiltros = !exibeFiltros">
                Exibe filtros avançados
                <mat-icon *ngIf="!exibeFiltros">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="exibeFiltros">keyboard_arrow_up</mat-icon>
            </a>
        </div>

        <div *ngIf="exibeFiltros">
            <form>
                <div class="input-group mt-2 mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                             Buscar
                        </button>
                        <div class="dropdown-menu">
                            <a style="cursor:pointer" class="dropdown-item text-left"
                                (click)="tipoBusca = 'pedido'">Número de Pedido</a>
                            <a style="cursor:pointer" (click)="tipoBusca = 'romaneio'">Número de Romaneio</a>
                        </div>
                    </div>
                    <input [type]="tipoBusca === 'pedido' ? 'number' : 'text'" class="form-control"
                        [(ngModel)]="buscaValor" name="buscaValor"
                        [placeholder]="tipoBusca === 'pedido' ? 'Buscar por número de pedido...' : 'Buscar por número de romaneio...'">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit"
                            (click)="pesquisaAvancada()">
                        <i class="material-icons">search</i>
                        </button>
                    </div>
                </div>
            </form>
            <app-card-info label="Status">
                <mat-radio-group class="mat-radio" color="primary">
                    <mat-radio-button (click)="listarTodos()">TODOS</mat-radio-button>
                    <mat-radio-button (click)="filtrarPedidos(0, null)" value="0">PENDENTE</mat-radio-button>
                    <mat-radio-button (click)="filtrarPedidos(1, null)" value="1">CANCELADO</mat-radio-button>
                    <mat-radio-button (click)="filtrarPedidos(2, null)" value="2">SEPARADO</mat-radio-button>
                    <mat-radio-button (click)="filtrarPedidos(3, null)" value="3">ENTREGUE AO TRANSP.</mat-radio-button>
                    <mat-radio-button (click)="filtrarPedidos(5, null)" value="5">EM TRÂNSITO</mat-radio-button>
                    <mat-radio-button (click)="filtrarPedidos(6, null)" value="6">ENTREGUE</mat-radio-button>
                    <mat-radio-button (click)="filtrarPedidos(7, null)" value="7">RETORNO</mat-radio-button>
                </mat-radio-group>
            </app-card-info>

            <app-card-info label="Prioridade">
                <mat-radio-group class="mat-radio" color="primary">
                    <mat-radio-button (click)="listarTodos()">TODOS</mat-radio-button>
                    <mat-radio-button (click)="filtrarPedidos(null, 0)" value="0">BAIXA</mat-radio-button>
                    <mat-radio-button (click)="filtrarPedidos(null,1)" value="1">MÉDIA</mat-radio-button>
                    <mat-radio-button (click)="filtrarPedidos(null,2)" value="2">ALTA</mat-radio-button>
                    <mat-radio-button (click)="filtrarPedidos(null,3)" value="3">URGENTE</mat-radio-button>
                </mat-radio-group>
            </app-card-info>
        </div>
    </div>

    <div class="table-responsive mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
            <ng-container style="display: flex; vertical-align: middle; " matColumnDef="numeroPedido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="numeroPedido"> Pedido </th>
                <td style="cursor: pointer;" (click)="openModalView(element)" mat-cell *matCellDef="let element">
                    <mat-icon
                        style="vertical-align: bottom; color: #42A5F5; background-color: #E3F2FD; border-radius: 50%;">assignment</mat-icon>
                    {{ element.dataPedido | date: 'yyyy/MM/dd' }}-{{element.numeroPedido}}
                </td>
            </ng-container>

            <ng-container matColumnDef="numeroRomaneio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="numeroRomaneio">
                    Romaneio
                </th>
                <td class="text-center" mat-cell *matCellDef="let element">{{element.numeroRomaneio}} </td>
            </ng-container>

            <ng-container matColumnDef="prioridade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="prioridade"> Prioridade
                </th>
                <td mat-cell *matCellDef="let element"> {{retornaPrioridade(element.prioridade)}} </td>
            </ng-container>

            <ng-container matColumnDef="destinatarioNome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="destinatarioNome">
                    Destinatário
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.destinatarioNome.split(' ').slice(0, 3).join(' ')}} </td>
            </ng-container>

            <ng-container matColumnDef="destino">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="destino">
                    Filial de Destino
                </th>
                <td mat-cell *matCellDef="let element">{{element.destino}} </td>
            </ng-container>

            <ng-container matColumnDef="statusPedido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="statusPedido"> Status </th>
                <td mat-cell *matCellDef="let element"> {{retornaStatus(element.statusPedido)}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th class="text-right mr-1" mat-header-cell *matHeaderCellDef> AÇÕES </th>
                <td class="text-right mr-1" mat-cell *matCellDef="let element"> {{element.symbol}}
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/pedidos/atualizar/{{element.id}}"
                            [disabled]="element.statusPedido != 0">
                            <mat-icon>edit</mat-icon>
                            <span>Editar Pedido</span>
                        </button>
                        <button mat-menu-item [disabled]="element.imagens.length === 0"
                            (click)="baixarImagens(element.id)">
                            <mat-icon>download</mat-icon>
                            <span>Baixar Imagens</span>
                        </button>
                        <button mat-menu-item (click)="openModalDelete(element)" [disabled]="element.statusPedido != 0">
                            <mat-icon>cancel</mat-icon>
                            <span>Cancelar Pedido</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>