<mat-form-field [class]="className" appearance="outline">

    <mat-label>{{label}}</mat-label>

    <mat-select [(ngModel)]="selectedValue" (selectionChange)="emitValue()" [required]="isRequired">
        <div class="fullWidth select-search">
            <div class="input-search" appearance="fill">
                <input type="text" matInput placeholder="Filtre pelo nome" (keyup)="applyFilter($event)"
                    appearance="outline">
                <button type="submit" class="search" mat-button matSuffix>
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>

        <mat-option *ngFor="let option of filter" [value]="option[valueOption]">
            {{ option[option1]}}
           <label *ngIf="option2.length > 0"> - </label>
            {{ option[option2] }}
        </mat-option>
    </mat-select>

</mat-form-field>