.cadastro {
    padding: 15px;
    border-radius: .6rem;
    background-color: #ffff;
}

.header {
    text-align: center;
}

span {
    color: rgba(49, 48, 48, 0.774);
    margin-right: 15px;
}

.footer {
    display: flex;
    justify-content: center;
}

h1 {
    color: #00000080;
    margin-bottom: 10px;
}

.fullWidth {
    width: 100%;
}

img {
    margin: auto;
    margin-bottom: 20px;
    width: 10rem;
    height: 9rem;
}

.section {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.footer button {
    width: 45%;
    margin: 5px;
}

.add-item {
    height: 45.5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: black;
    margin-top: 10px;
    margin-bottom: 25px;
    position: relative;
    display: block;
}

@media only screen and (max-width: 600px) {
    .responsive {
        width: 300px;
        max-width: 300px;
        overflow-x: scroll;
    
    }
}

th,
td {
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #ddd;
}

.custom-file-upload {
    cursor: pointer;
    color: #050505c4;
    border: 1px dotted #a7a6a6;
    display: inline-flex;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 130px;
}

.custom-file-upload:hover {
    border: 1px solid #363636;
}

.custom-file-upload label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 100%;
}

.custom-file-upload label i {
    margin-top: 23px;
    font-size: 50px;
    margin-bottom: 5px;
}

.custom-file-upload input[type="file"] {
    display: none;
    height: 100%;
    width: 100%;
}

i {
    cursor: pointer;
    display: block;
}

.preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7.5px;
}

.preview {
    position: relative;
    margin-right: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 120px;
}

.preview img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
    border: 1px solid #cac9c9;
    -webkit-box-shadow: 10px 6px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 6px 14px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 6px 14px -1px rgba(0, 0, 0, 0.75);
}

label {
    color: rgb(68, 68, 68);
    font-weight: 500;
    text-align: center;
}

.preview span {
    position: absolute;
    top: 0;
    left: 0;
}

.icon-delete {
    display: flex;
    position: absolute;
    text-align: left !important;
    justify-content: flex-start !important;
    align-items: flex-start;
    color: rgb(221, 67, 67);
    background-color: #f1f1f1;
    border-radius: 50%;
    padding: 3px;
    margin: 3px 0 0 3px;
    z-index: 100;
}