table {
    width: 100%;
}

.container{
    width: 90%;
    margin: auto;
}

.mat-paginator-container{
   width: 100%;
}
 
 mat-form-field {
    width: 100%;
 }
 
 h1 {
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
 }

 .button{
    text-align: right;
 }
 
 .edit {
    color: rgb(0, 153, 255);
 }
 
 .delete {
    color: red;
 }