<div class="container d-flex justify-content-center ">
    <div class="cadastro mat-elevation-z8 mb-5">
            <div class="header">
                <h1 class="fullWidth">Atualização de Filial</h1>
                <img src="assets/img/filial.jpg" alt="Help Desk">
            </div>
            <form class="form">
                <div class="row">
                    <mat-form-field class="fullWidth col-12 col-md-4" appearance="outline">
                        <mat-label>Código da Filial</mat-label>
                        <input [(ngModel)]="filial.id" name="id" disabled="true"required matInput type="number">
                    </mat-form-field>
                    <mat-form-field class="fullWidth col-12 col-md-8" appearance="outline">
                        <mat-label>Nome da Filial</mat-label>
                        <input [(ngModel)]="filial.nome" name="nome" disabled="true" required matInput>
                    </mat-form-field>
                    <mat-form-field class="fullWidth col-12 col-md-9" appearance="outline">
                        <mat-label>Endereço</mat-label>
                        <input [(ngModel)]="filial.rua" name="rua" disabled="true" matInput placeholder="Ex: Rua: Alencar Vieira">
                    </mat-form-field>
                    <mat-form-field class="fullWidth col-12 col-md-3" appearance="outline">
                        <mat-label>Número</mat-label>
                        <input [(ngModel)]="filial.numero" name="numero" disabled="true"matInput type="number">
                    </mat-form-field>
                    <mat-form-field class="fullWidth col-12 col-md-5" appearance="outline">
                        <mat-label>Bairro</mat-label>
                        <input [(ngModel)]="filial.bairro" name="bairo" disabled="true"matInput>
                    </mat-form-field>
                    <mat-form-field class="fullWidth col-12 col-md-4" appearance="outline">
                        <mat-label>Complemento</mat-label>
                        <input [(ngModel)]="filial.complemento" name="complemento" disabled="true" matInput>
                    </mat-form-field>
                    <mat-form-field class="fullWidth col-12 col-md-3" appearance="outline">
                        <mat-label>CEP</mat-label>
                        <input [(ngModel)]="filial.cep" name="cep"  mask="99999-999" [showMaskTyped]="false" disabled="true" matInput>
                    </mat-form-field>
                    <mat-form-field class="fullWidth col-12 col-md-5" appearance="outline">
                        <mat-label>Cidade</mat-label>
                        <input [(ngModel)]="filial.cidade" name="cidade" disabled="true" matInput>
                    </mat-form-field>
                    <mat-form-field class="fullWidth col-12 col-md-4" appearance="outline">
                        <mat-label>Estado</mat-label>
                        <input [(ngModel)]="filial.estado" name="estado" disabled="true" matInput>
                    </mat-form-field>
                </div>
                <div class="footer">
                    <button (click)="deletarFilial()" class="mat-elevation-z4" mat-flat-button
                        color="primary">Deletar Filial</button>
                </div>
                <div class="footer">
                    <button routerLink="../../" class="mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>
                </div>
            </form>
        </div>
</div>