<div class="container">
    <div class="card">
        <div class="button">
            <button routerLink="/romaneios/cadastrar" class="mat-elevation-z8 mb-2" mat-raised-button
                color="primary">Novo
                romaneio</button>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Busque por qualquer palavra" #input>
        </mat-form-field>
    </div>

    <div class="table-responsive mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
            <ng-container style="display: flex; vertical-align: middle; " matColumnDef="numeroRomaneio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="numeroRomaneio"> N°
                    Romaneio
                </th>
                <td style="cursor: pointer;" (click)="openModalView(element)" mat-cell *matCellDef="let element">
                    {{ element.dataAtualizacao | date: 'yyyy/MM/dd' }}-{{element.numeroRomaneio}}
                </td>
            </ng-container>

            <ng-container matColumnDef="quantidadePedidos">
                <th style="text-align: center;" mat-header-cell *matHeaderCellDef mat-sort-header
                    sortActionDescription="quantidadePedidos">
                    Qnt. Pedidos
                </th>
                <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.quantidadePedidos}} </td>
            </ng-container>

            <ng-container matColumnDef="valorCarga">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="valorCarga">
                    Valor Carga
                </th>
                <td mat-cell *matCellDef="let element"> R$ {{element.valorCarga}} </td>
            </ng-container>

            <ng-container matColumnDef="pesoCarga">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="pesoCarga">
                    Peso Carga
                </th>
                <td mat-cell *matCellDef="let element"> {{element.pesoCarga}} kg </td>
            </ng-container>

            <ng-container matColumnDef="motorista">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="motorista">
                    Motorista
                </th>
                <td mat-cell *matCellDef="let element"> {{element.motorista}} </td>
            </ng-container>

            <ng-container matColumnDef="transportadora">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="transportadora">
                    Transportadora
                </th>
                <td mat-cell *matCellDef="let element"> {{element.transportadora}} </td>
            </ng-container>

            <ng-container matColumnDef="statusRomaneio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="statusRomaneio">
                    Status
                </th>
                <td mat-cell *matCellDef="let element"> {{retornaStatus(element.statusRomaneio)}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th class="text-right mr-1" mat-header-cell *matHeaderCellDef> AÇÕES </th>
                <td class="text-right mr-1" mat-cell *matCellDef="let element"> {{element.symbol}}
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openModalView(element)">
                            <mat-icon>visibility</mat-icon>
                            <span>Ver Romaneio</span>
                        </button>
                        <button [disabled]="element.statusRomaneio !== 0 && element.statusRomaneio !== 2" mat-menu-item routerLink="/romaneios/atualizar/{{element.id}}">
                            <mat-icon>edit</mat-icon>
                            <span>Editar romaneio</span>
                        </button>
                        <button *ngIf="element.statusRomaneio === 0" mat-menu-item (click)="openModalProcessar(element)">
                            <mat-icon>hourglass_full</mat-icon>
                            <span>Processar Romaneio</span>
                        </button>
                        <button *ngIf="element.statusRomaneio === 2"  mat-menu-item routerLink="/romaneios/fechamento/{{element.id}}">
                            <mat-icon>done</mat-icon>
                            <span>Fechar Romaneio</span>
                        </button>
                        <button mat-menu-item routerLink="/romaneios/deletar/{{element.id}}"
                            [disabled]="element.statusRomaneio !== 0 && element.statusRomaneio !== 2" >
                            <mat-icon>cancel</mat-icon>
                            <span>Excluir romaneio</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>