/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/ngx-toastr/toastr.css");

:root{
    --color-primary: #FF8264;
    --color-secondary: #e49480;
}
.cadastro{
    margin-top: 80px;
}

.card {
    width: 100%;
    margin: 1rem auto;
    padding: 20px;
    margin-top: 4.1rem;
    background-color: #ffff;
}

.table-responsive{
    margin-bottom: 25px;
}

.mr-1{
    margin-right: 10px;
}  

html, body { height: 100%; }
body { margin: 0; zoom: 1; font-family: Roboto, "Helvetica Neue", sans-serif; }
